body {
    padding: 20px
}

button {
    margin-inline-end: 10px;
}

/* .todo-text{
    cursor: pointer;
    user-select: none;
} */

.progress-todo{
    background: #FFCA2C;
}

.todo-success{
    background: #79DCBC;
}

a {
    margin-right: 5px;
}